{% assign cart_amt = cart.items_subtotal_price %}                
{% assign fillval =  cart_amt | modulo: 10 | times: 0.1 %}
{% if cart_amt >= 9900 %}
  {% assign fillval = 0.0 %}
{% endif %}

  <div style="display: flex; justify-content: center; flex: 0 0 100%">             
<svg
width="180"
   height="100"
   viewBox="-20 -105 180 120"
   version="1.1"
   id="svg5"
   inkscape:version="1.1 (c4e8f9e, 2021-05-24)"
   sodipodi:docname="pig3.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     units="px" />
  <defs>
    <filter id="fillpartial" primitiveUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
      <feFlood x="0%" y="0%" width="100%" height="100%" flood-color="#e24300" />
      <feOffset id="fillpig" dy="1">
        <animate attributeName="dy" from="1" to="{{ fillval }}" dur="2s" />
      </feOffset>
      <feComposite operator="in" in2="SourceGraphic" />
      <feComposite operator="over" in2="SourceGraphic" />
    </filter>
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-19.902828,-105.34324)">
    <path  
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.465;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
d="M179.43,29.69c-1.17-2.71-3.66-3.51-4.72-3.85c-0.04-0.01-0.07-0.02-0.11-0.03c-1.22-0.91-3.36-2.59-4.64-6.27
	c-0.12-0.33-0.24-0.67-0.38-1c0.7-1.04,1.53-2.11,2.51-3.24c1.84-2.11,2.3-4.78,1.24-7.14c-1.2-2.66-4.12-4.37-7.44-4.37
	c-1.09,0-2.18,0.19-3.22,0.55c-1.61,0.57-2.9,1.3-3.91,2.05c-0.31-0.19-0.63-0.43-0.94-0.73c-1.68-1.62-3.46-2.44-5.29-2.44
	c-2.21,0-3.75,1.21-4.49,1.83c-0.26,0.17-0.67,0.39-1.11,0.6l-0.39-1.21C145.26,0.43,142.46,0,141.32,0c-0.98,0-2.89,0.32-4.58,2.49
	c-1.41,1.81-2.64,4.89-2.18,7.6c-0.6,0.03-1.25,0.05-1.91,0.06c-3.87,0.09-9.05,0.21-14.37,3.48c-3.29-0.47-6.43-0.7-9.57-0.7
	c-7.08,0-12.97,1.2-18.66,2.37c-5.68,1.16-11.55,2.36-18.77,2.36c-5.98,0-12.33-0.81-19.41-2.48c-6.59-1.55-12.48-2.34-17.51-2.34
	c-7.16,0-16.66,1.68-21.3,9.7c-0.92,1.59-1.6,3.35-2.02,5.24C1.73,40.52,2.31,59.44,2.72,65.03c0.11,1.55-0.42,4.04-0.99,6.66
	C0.58,77.02-1,84.32,0.84,92.44c0.56,2.48,1.5,6.63,5.37,6.63c3.47,0,4.69-3.45,5.57-5.96c0.17-0.49,0.33-0.99,0.48-1.5
	c2.74,7.02-0.01,16.97-0.93,20.32c-0.11,0.39-0.2,0.72-0.26,0.97c-0.35,1.37-0.05,2.81,0.83,3.95c0.6,0.78,2.2,2.85,10.07,2.85
	c7.07,0,8.93-1.72,9.63-2.56c1.31,0.76,3.54,1.38,7.74,1.38c8.98,0,10.38-2.41,10.9-3.32c0.79-1.37,0.8-3.01,0.03-4.39l-0.13-0.23
	L50,110.37c-0.11-0.14-10.68-14.59-9.88-29.16c0.61-1,1.19-2.03,1.71-3.08c5.07,3.38,11.06,5.27,16.06,6.58
	c9.13,2.4,14.77,4.2,17.75,5.66c0.61,0.3,1.09,0.56,1.48,0.77c1.17,0.63,2.28,1.22,3.85,1.22c1.38,0,2.47-0.44,4.28-1.18l0.4-0.16
	c4.53-1.84,13.3-4.05,24.66-4.92c2.34,10.12,2.5,17.08,0.85,27.76c-0.2,1.32,0.18,2.66,1.06,3.69c0.97,1.14,2.82,2.44,8.59,2.44
	c5.25,0,7.7-0.94,8.91-1.82c1.11,0.2,2.51,0.32,4.28,0.32c8.39,0,9.68-2.27,10.22-3.24c0.73-1.28,0.77-2.8,0.12-4.11
	c-2.93-6.6-4.22-18.19-3.3-29.67c0.32-0.27,0.63-0.56,0.93-0.85c3.92-3.85,6.42-9.66,7.41-17.26c0.67-1.42,1.18-2.89,1.46-4.26
	c1.5-1.91,2.3-4.43,3.03-6.71c0.31-0.96,0.74-2.31,1.09-3.05c0.27-0.04,0.56-0.07,0.85-0.1c2.3-0.26,5.34-0.6,8.44-3.36
	c0.05,0,0.11,0,0.16,0c8.06,0,12.15-0.9,13.55-6.02c0.04-0.14,0.09-0.32,0.11-0.38C180.08,35.2,180.5,32.18,179.43,29.69z
	 M174.44,37.76c-0.99,2.11,0.55,4.09-10.04,4.09c-0.56,0-1.16-0.01-1.8-0.02c-3.22,3.66-6.09,3.09-9.2,3.68
	c-0.1,0.02-0.19,0.07-0.29,0.11c-0.47-0.04-0.93-0.09-1.4-0.12c-1.78-0.12-3.55-0.11-5.33,0.02c-1.78,0.14-3.55,0.3-5.33,0.38
	c-3.55,0.17-7.1,0.37-10.65,0.6c-3.55,0.27-7.1,0.48-10.65,0.81v0.4c3.55,0.32,7.1,0.53,10.65,0.81c3.55,0.24,7.1,0.44,10.65,0.6
	c1.78,0.09,3.55,0.25,5.33,0.38c1.39,0.1,2.78,0.1,4.18,0.06c-0.96,2.79-1.76,6.23-3.5,7.7c0,0.01,0,0.03-0.01,0.04
	c-0.25-0.02-0.5-0.05-0.75-0.07c-1.78-0.12-3.55-0.11-5.33,0.02c-1.78,0.14-3.55,0.3-5.33,0.38c-3.55,0.17-7.1,0.37-10.65,0.6
	c-3.55,0.27-7.1,0.48-10.65,0.81v0.4c3.55,0.32,7.1,0.53,10.65,0.81c3.55,0.24,7.1,0.44,10.65,0.6c1.78,0.09,3.55,0.25,5.33,0.38
	c1.64,0.12,3.28,0.12,4.92,0.03c-0.14,0.3-0.27,0.61-0.43,0.91c-0.23,1.98-0.6,3.98-1.13,5.91c-1.12-0.12-2.25-0.22-3.37-0.28
	c-4.14-0.3-8.29,0.23-12.43,0.4c-4.14,0.17-8.29,0.37-12.43,0.6c-4.14,0.27-8.28,0.48-12.43,0.81v0.4
	c4.14,0.32,8.28,0.53,12.43,0.81c4.14,0.24,8.29,0.44,12.43,0.6c4.14,0.17,8.28,0.7,12.43,0.4c0.71-0.04,1.42-0.1,2.13-0.16
	c-0.97,2.29-2.24,4.38-3.95,6.06c-2.04,2-4.67,3.42-8.04,3.95c1.38-0.09,3.69-0.33,5.96-1.01c-0.95,11.12,0,24.13,3.65,32.23
	c0.56,0.95-3.21,1.56-6.73,1.56c-2.99,0-5.8-0.43-5.67-1.46c1.46-11.41,0.29-18.6-2.42-28.55c-0.09-1.75-0.1-3.54-0.05-5.29v-0.02
	c-1.97,11.75-2.17,26.5,1.68,35.23c0.44,0.99-3.25,1.59-6.72,1.59c-3.01,0-5.85-0.45-5.69-1.49c1.99-12.84,1.38-20.61-1.74-32.71
	c-1.03-3.98-2.01-7.58-2.66-9.9c0.88,3.8,1.15,7.21,1.13,10.08c-12.02,0.75-22.01,3.01-27.7,5.32c-1.74,0.71-2.52,1.05-3.18,1.05
	c-0.83,0-1.46-0.54-3.57-1.58c-2.66-1.31-7.5-3.05-18.49-5.94c-6.5-1.71-13.88-4.25-18.71-9.2c-0.86,2.62-2.22,5.56-4,8.29
	c-1.49,16.67,10.6,32.88,10.6,32.88c0.58,1.03-3.56,1.69-7.44,1.69c-3.27,0-6.35-0.47-6.25-1.58c0.62-6.94-4.43-23.65-4.43-23.65
	c1.77-1.67,2.74-3.1,3.43-4.36c-0.74,0.7-1.52,1.35-2.34,1.92c-5.08,3.55-4.64,11.99-3.75,16.43c0.88,4.44,2.27,8.72,2.73,10.76
	c0.25,1.11-3.23,1.67-6.75,1.67c-3.63,0-7.32-0.59-7.02-1.77c0.69-2.72,4.82-15.5,0.66-24.64c-4.16-9.14,6.18-9.99,1.33-20.87
	c-4.86-10.88-2.87-18.2-1.99-31.75c0,0-0.33-1.29-0.41-3.21l0,0c-0.32,1.5-0.55,3.25-0.56,5.09c-4.71,7.91-3.87,22.32-3.67,27.98
	c0.18,5.27,0.53,17.2-2.31,25.26c-0.76,2.14-1.3,3.28-1.8,3.28c-0.49,0-0.93-1.12-1.46-3.49c-2.58-11.43,2.4-20.99,1.97-26.81
	c-0.63-8.51,0-24.9,8.07-35.26c0.27-1.6,0.79-3.29,1.73-4.91c2.38-4.11,7.44-7.69,17.84-7.69c4.47,0,9.94,0.66,16.6,2.23
	c8.06,1.9,14.64,2.59,20.33,2.59c14.92,0,23.77-4.73,37.43-4.73c3.19,0,6.64,0.26,10.49,0.89c7.72-5.59,15.38-2.47,19.72-4.58
	c0.17,0-0.28-3.32-0.38-3.7c-0.45-1.82,1.27-5.54,2.77-5.54c0.53,0,1.04,0.46,1.42,1.64c0.43,1.32,0.85,2.65,1.28,3.97
	c0.16,0.5,0.61,0.7,1.2,0.7c1.79,0,4.88-1.77,5.29-2.12c0.56-0.47,1.19-0.98,2.02-0.98c0.68,0,1.5,0.34,2.51,1.32
	c1.86,1.79,3.92,2.34,4.59,2.47c0.71-0.85,2.06-2.08,4.36-2.89c0.64-0.23,1.29-0.33,1.9-0.33c3,0,5.26,2.44,3.19,4.83
	c-1.52,1.75-2.72,3.38-3.65,4.96c-0.89-1.37-1.99-2.43-2.69-3.03c1.25,1.73,2.62,3.95,3.44,6.3c1.81,5.21,5.11,7.48,6.32,8.4
	C173.72,30.18,178.36,29.42,174.44,37.76z"/>
    <path filter="url(#fillpartial)"
   style="fill:#e1dacb;stroke:none;stroke-width:0.15748;fill-opacity:1"
   d="m 117.56351,115.65883 c -1.03078,-0.17233 -2.09654,-0.58686 -2.26006,-0.87905 -0.0731,-0.13063 -0.0412,-0.83824 0.0722,-1.60141 0.70259,-4.72772 1.07656,-10.23281 0.92732,-13.650811 -0.31217,-7.149545 -1.19601,-11.831882 -4.60493,-24.395707 -0.87646,-3.23026 -1.24066,-4.081866 -0.76889,-1.797887 0.32232,1.560466 0.68489,4.553111 0.81113,6.695166 l 0.10381,1.761414 -0.52835,0.07899 c -0.2906,0.04344 -1.55592,0.158596 -2.81182,0.255889 -8.778444,0.680057 -18.012505,2.588177 -24.345434,5.030726 -1.34564,0.519 -2.672402,0.985994 -2.948361,1.037764 -0.411855,0.07726 -0.910808,-0.108831 -2.785079,-1.038761 C 74.470504,85.193087 70.304531,83.78898 60.629901,81.15744 52.696874,78.999624 49.04007,77.625675 45.275571,75.388448 44.022276,74.64362 41.631545,72.846988 40.953339,72.140297 40.654852,71.829273 40.33572,71.574799 40.244155,71.574799 c -0.09157,0 -0.332542,0.478347 -0.535503,1.062992 -0.509974,1.469019 -1.908951,4.382496 -2.875518,5.988495 l -0.806483,1.340012 0.07894,3.560156 c 0.08753,3.947755 0.344811,5.852884 1.280855,9.48458 1.520778,5.900375 4.459142,12.398816 8.171135,18.071166 1.218681,1.86228 1.261597,1.95813 0.971671,2.17013 -0.909518,0.66505 -3.593134,1.054 -7.23793,1.04903 -3.054348,-0.004 -4.854667,-0.26603 -5.590552,-0.81314 -0.378855,-0.28166 -0.39763,-0.37925 -0.497875,-2.58786 -0.208177,-4.58643 -1.434356,-10.86854 -3.779862,-19.36544 l -0.641343,-2.323344 1.002847,-1.06407 c 0.96167,-1.020379 2.064222,-2.528036 2.292706,-3.135099 0.08386,-0.2228 -0.01424,-0.189513 -0.433251,0.147022 -0.297905,0.239265 -1.082834,0.856419 -1.744286,1.371455 -1.476345,1.149551 -2.151945,1.924373 -2.870885,3.292518 -1.314714,2.501904 -1.874046,6.093833 -1.545775,9.926688 0.258617,3.01958 0.650414,4.87523 2.343301,11.09847 l 0.894833,3.28951 -0.418591,0.36005 c -0.814135,0.70029 -2.472986,0.93623 -6.491582,0.92329 -3.212525,-0.0103 -3.763167,-0.0505 -4.870191,-0.35497 -1.293467,-0.35576 -1.822723,-0.68049 -1.822723,-1.11832 0,-0.14026 0.28063,-1.35172 0.623622,-2.69213 1.366877,-5.34172 1.824524,-8.98183 1.69116,-13.451477 C 17.333095,94.46052 17.025266,92.622582 16.1966,90.423234 15.929405,89.714075 15.540459,88.68347 15.332276,88.133001 15.124093,87.58253 14.87912,86.625837 14.787892,86.007016 c -0.262814,-1.782738 0.05448,-2.961124 1.65988,-6.1645 1.545189,-3.08324 1.869539,-4.152298 1.863386,-6.141733 -0.0056,-1.817025 -0.314668,-3.028266 -1.546976,-6.062992 -1.715273,-4.224093 -2.419352,-7.079124 -2.757368,-11.181102 -0.231893,-2.814126 -0.128428,-5.540065 0.487149,-12.834646 0.536631,-6.359069 0.557169,-7.056011 0.264531,-8.976378 l -0.215981,-1.417323 -0.195966,0.906238 c -0.107782,0.498432 -0.252385,1.668629 -0.32134,2.60044 -0.111603,1.508126 -0.189532,1.821604 -0.709535,2.854192 -1.214819,2.41231 -2.177886,5.956393 -2.67924,9.859603 -0.597998,4.655609 -0.6790337,8.473964 -0.374948,17.66732 C 10.64784,78.796783 9.7909808,86.887842 7.5572852,92.651037 6.5988578,95.12389 6.1478767,95.414561 5.5654263,93.93485 4.5882109,91.452237 3.9964647,87.01595 4.1478133,83.307083 4.2880374,79.870823 4.7174197,77.229064 6.4130861,69.370075 6.6229978,68.397187 6.6718591,67.009092 6.6902537,61.496059 6.7135687,54.508346 6.8127217,52.892398 7.4866696,48.5165 8.5864592,41.37564 10.978186,34.924683 14.180843,30.460998 c 0.482784,-0.672878 0.783122,-1.27903 0.858316,-1.732284 0.181051,-1.091338 0.961478,-3.093657 1.671823,-4.289345 0.356334,-0.599798 1.135977,-1.604382 1.732541,-2.232408 3.581269,-3.770145 9.320766,-5.488251 17.461972,-5.227202 4.473049,0.143428 8.526483,0.729236 15.03937,2.173509 8.639305,1.915821 13.469357,2.509649 20.393701,2.507293 6.334439,-0.0022 9.492754,-0.379622 19.226374,-2.297851 9.89046,-1.949139 12.56603,-2.288122 18.09646,-2.29274 3.5239,-0.0029 5.38885,0.119596 8.78705,0.577361 l 1.77919,0.23967 1.16507,-0.726161 c 3.19828,-1.993396 5.94646,-2.663476 11.95356,-2.9146 3.52585,-0.147396 5.21834,-0.354763 6.29574,-0.771372 l 0.45306,-0.175185 -0.10662,-1.138033 c -0.0586,-0.625917 -0.18274,-1.589819 -0.2758,-2.142003 -0.21677,-1.2862907 -0.0883,-2.33588 0.42297,-3.4570016 0.57849,-1.2683944 1.12726,-2.0099067 1.6887,-2.2818206 1.01997,-0.4939851 1.4678,0.1123046 2.47962,3.3569665 0.36463,1.1692913 0.78025,2.2579513 0.92359,2.4192447 0.69142,0.777965 4.08888,-0.2113255 6.40729,-1.8657069 1.77994,-1.2701378 2.47183,-1.1812911 4.5586,0.5853732 1.14057,0.9656139 2.68963,1.8467447 3.77091,2.1449547 0.59741,0.164763 0.64032,0.149736 1.29465,-0.453402 1.32988,-1.225851 3.25731,-2.2327225 4.83086,-2.5236094 2.25845,-0.4174978 4.67493,1.0033902 4.67334,2.7479304 0,0.753326 -0.30704,1.305272 -1.58216,2.850589 -0.50035,0.606375 -1.34104,1.735865 -1.86822,2.509977 -0.52717,0.774113 -0.95849,1.329205 -0.95849,1.23354 0,-0.209911 -2.33705,-2.719757 -2.53252,-2.719757 -0.0757,0 0.2425,0.584646 0.70704,1.299213 1.08438,1.667999 1.80545,3.095144 2.76043,5.463467 0.422,1.046545 1.10881,2.450783 1.52625,3.120526 1.32797,2.13064 4.13193,4.800484 5.49156,5.228863 2.31952,0.730821 2.979,2.011667 2.34252,4.549608 -0.14074,0.56121 -0.46649,1.52243 -0.72388,2.136046 -0.2574,0.613614 -0.63831,1.606477 -0.8465,2.206361 -0.52013,1.498718 -0.74692,1.792515 -1.73172,2.243371 -1.21542,0.556435 -3.13948,0.823013 -6.75696,0.936169 l -3.14961,0.09852 -0.7874,0.750641 c -1.62637,1.550446 -2.86233,2.061576 -6.14173,2.539909 -2.01806,0.294352 -4.73228,0.392157 -5.51471,0.198716 -0.17482,-0.04322 -1.48584,-0.0034 -2.91338,0.08856 -2.84252,0.183049 -8.62683,0.529391 -13.30419,0.796603 -1.64567,0.09401 -5.33071,0.344359 -8.18898,0.55632 -2.85827,0.211962 -5.3563,0.385417 -5.55118,0.385458 -0.24932,5.2e-5 -0.35433,0.09342 -0.35433,0.315035 0,0.173228 0.0532,0.315413 0.11811,0.315964 0.065,4.72e-4 1.3937,0.104337 2.95276,0.230634 3.93602,0.318856 11.63959,0.828819 15.59055,1.03207 1.81889,0.09357 4.68897,0.272198 6.37795,0.396951 1.68898,0.124753 3.65551,0.227335 4.37008,0.227964 0.71457,6.3e-4 1.29921,0.02711 1.29921,0.05885 0,0.03174 -0.35419,1.0968 -0.78708,2.366802 -0.85008,2.493946 -1.28533,3.446748 -2.01977,4.42151 l -0.47132,0.625547 -2.49477,-0.04507 c -1.37213,-0.02479 -3.84123,0.06064 -5.4869,0.18983 -1.64567,0.129192 -3.87795,0.278473 -4.96063,0.331734 -5.67968,0.279408 -17.48124,1.06875 -19.10297,1.277693 -0.58876,0.07586 -0.74551,0.155039 -0.70693,0.357115 0.0424,0.221921 0.55271,0.298394 3.51242,0.526323 5.50982,0.424316 10.20311,0.73399 15.11638,0.997417 2.51181,0.134671 5.34645,0.312217 6.29921,0.394546 0.95275,0.08233 2.78514,0.150296 4.07197,0.151038 2.16694,0.0013 2.33116,0.02169 2.22431,0.276937 -0.0634,0.151575 -0.28268,1.232284 -0.48719,2.401575 -0.2045,1.169291 -0.46351,2.515748 -0.57558,2.992126 l -0.20377,0.866142 -0.70385,-0.01428 c -0.38711,-0.0079 -2.0503,-0.069 -3.69597,-0.13588 -2.18434,-0.08877 -4.07626,-0.05357 -7.00787,0.130367 -2.20867,0.138578 -5.64567,0.324915 -7.6378,0.414082 -6.5601,0.293625 -18.57259,0.989995 -20.66929,1.198209 -0.79116,0.07857 -0.98425,0.151287 -0.98425,0.370679 0,0.235603 0.23158,0.287063 1.69291,0.376191 0.9311,0.05679 3.32284,0.207148 5.31496,0.334133 5.98013,0.381197 8.87212,0.539978 14.40945,0.791137 2.90157,0.131608 6.30315,0.315356 7.55906,0.408331 2.74776,0.203414 8.03885,0.244915 9.42583,0.07393 l 1.00063,-0.123356 -0.75438,1.460609 c -0.90496,1.752186 -2.21951,3.552626 -3.40741,4.666878 -1.79991,1.688314 -4.34332,3.033533 -6.65838,3.521642 -1.14897,0.24225 -1.47853,0.46803 -0.53087,0.363701 1.63452,-0.179947 4.00134,-0.569821 4.65685,-0.767101 l 0.70988,-0.213642 -0.0991,0.422581 c -0.21429,0.913359 -0.29053,11.140607 -0.10293,13.808406 0.46345,6.590954 1.58271,12.344054 3.23271,16.616434 0.30728,0.79567 0.5587,1.51404 0.5587,1.59639 0,0.23971 -1.08274,0.62714 -2.39383,0.85657 -3.78842,0.66293 -9.20208,0.26752 -9.72542,-0.71035 -0.0899,-0.168 -0.0934,-0.67146 -0.009,-1.28606 0.55751,-4.05424 0.59837,-11.41689 0.0847,-15.26196 -0.37269,-2.789755 -1.08721,-6.390312 -1.92131,-9.681786 -0.69695,-2.750281 -0.71811,-2.904783 -0.73859,-5.393237 -0.0116,-1.409014 -0.0609,-2.562051 -0.10968,-2.562308 -0.11517,-6.3e-4 -0.70033,4.246516 -1.0414,7.55859 -0.38766,3.764394 -0.38846,13.333041 -10e-4,16.614181 0.39,3.30603 1.09827,6.69235 1.85352,8.8618 0.83665,2.40329 0.84386,2.56154 0.13248,2.90952 -1.28025,0.62626 -6.82813,0.97639 -9.19661,0.58042 z"
   id="path211" />
 />
  </g>
</svg>
</div>
